doctype html
html
  block config
    include ../config/config
  head
    meta(charset="utf-8")
    block head
      title= page_title + " | " + page
      meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
      each link in css
        link(rel="stylesheet" href='css/' + link)
      link(rel="shortcut icon", href="/favicon.png" type="image/png")
  body
    block header
      include ../blocks/header.pug
    block banner
      img.banner__img(src="/res/banners/" + pagina_actual + ".jpg", alt="Banner")
    block nosotros
    block destinos_elegidos
    block paquetes
    block contacto
    block opcion
    block clientes
    block footer
      include ../blocks/footer.pug
