- var page_title = "Inicio";
- var page = "Aurore";

//- CSS
- var css = ['styles.css'];
- var paginas = ['inicio', 'destinos', 'paquetes', 'contacto'];
- var pagina_actual = "";

//- DATOS
- var email = "contacto@aurore.com.ar";
- var location = "Buenos Aires, AR";