.footer {
  width: 100%;
  background: #272727;
  color: #95989A;
  height: 196px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  &__name {
    text-transform: uppercase;
  }
}