.opcionn {
  position: relative;
  width: 100%;
  &::before {
    content: '';
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 75%;
    background: $c-principal;
    z-index: -1;
  }
}

.banner {
  &__texto {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-left: 1.5em;
  }
  &__opcion {
    display: flex;
    position: relative;
    margin: 2em auto 1em;
    padding: 0 1em;
    width: 100%;
    justify-content: center;
    @media screen and (max-width: 640px){
      flex-direction: column;
    }
    &__title {
      color: #FFF;
      text-align: center;
      font-size: 1.5em;
    }
    &__text {
      color: #FFF;
      margin-bottom: 1em;
    }
    &__btn {
      background: #000;
      color: #FFF;
      text-decoration: none;
      padding: .5em 1em;
      align-self: flex-end;
      margin-top: auto;
      margin-bottom: 3em;
    }
    &__img {
      margin: auto;
      min-width: 250px;
      max-width: 250px;
    }
  }
  
}